<!DOCTYPE html>
<html>
<head th:include="fragments/general :: head(title='Company Dashboard')"></head>
<body>

	<th:block
		th:replace="fragments/general :: dashboard-navbar(brand='Company Dashboard', role='company')"></th:block>

	<div class="container">

		<div class="row">
			<ol class="breadcrumb mt-3 bg-transparent">
				<li class="breadcrumb-item" style="font-size: 20px">Internships</a></li>
			</ol>
		</div>

		<div class="card-columns mt-auto" style="display: inline-block;">
			<th:block th:each="internship : ${internships}">
				<div class="card">
					<div class="card-body">
						<h4 class="card-title" th:text="${internship.title}"></h4>
						<h5 th:text="${internship.company.name}"></h5>

						<p th:text="'Description - '+ ${internship.description}"></p>

						<p th:text="'Allowance - '+ ${internship.allowance}"></p>

						<p th:text="'Submit Deadline - '+ ${internship.deadline}"></p>
						
						<a th:href="@{'/dashboard/company/internship/' + ${internship.id} + '/candidate'}" class="btn btn-primary">Candidates</a>
						
					</div>
				</div>
			</th:block>
		</div>
	</div>

	<footer th:include="fragments/general :: footer"> </footer>
</body>
</html>