<!DOCTYPE html>
<html>
<head th:include="fragments/general :: head(title='Company Dashboard')"></head>
<body>

	<th:block
		th:replace="fragments/general :: dashboard-navbar(brand='Company Dashboard', role='company')"></th:block>

	<div class="container">

		<div class="row justify-content-center">
			<div class="col-md-10">
				<div class="registration-form card">
					<div class="card-body">
						<h3 class="card-title">Create Internship</h3>
						<div class="card-text">

							<form autocomplete="off" action="#"
								th:action="@{/dashboard/company/internship/new}"
								th:object="${internship}" method="post" class="form" role="form">

								<div class="form-row">
									<div class="form-group col-md-4">
										<label for="title-input">Title</label> <input type="text"
											th:field="*{title}" placeholder="Title" class="form-control"
											id="title-input"
											th:classappend="${#fields.hasErrors('title')} ? is-invalid"
											required /> <label th:if="${#fields.hasErrors('title')}"
											th:errors="*{title}" class="invalid-feedback"></label>
									</div>
									<div class="form-group col-md-3">
										<label for="allowance-input">Allowance</label>
										<div class="input-group">
											<input type="number" min="0.00" max="10000.00" step="0.01"
												th:field="*{allowance}" placeholder="Allowance"
												id="allowance-input" class="form-control"
												th:classappend="${#fields.hasErrors('allowance')} ? is-invalid"
												required /> <label
												th:if="${#fields.hasErrors('allowance')}"
												th:errors="*{allowance}" class="invalid-feedback"></label>
										</div>
									</div>
									<div class="form-group col-md-3">
										<label for="deadline-input">Submit Deadline</label> <input
											class="form-control" type="date" placeholder="deadline"
											th:field="*{deadline}" id="deadline-input"
											th:classappend="${#fields.hasErrors('deadline')} ? is-invalid"
											required> <label
											th:if="${#fields.hasErrors('deadline')}"
											th:errors="*{deadline}" class="invalid-feedback"></label>
									</div>
								</div>
								<div class="form-row">
									<div class="form-group col-md">
										<label for="resume-input">Description</label>
										<textarea class="form-control" type="textarea"
											placeholder="Description" th:field="*{description}"
											id="description-input"
											th:classappend="${#fields.hasErrors('description')} ? is-invalid"
											required></textarea>
										<label th:if="${#fields.hasErrors('description')}"
											th:errors="*{description}" class="invalid-feedback"></label>
									</div>
								</div>

								<div class="form-row">

									<div class="form-group col-md">
										<label for="allowance-input">Desired Skills</label>
										<div class="input-group">
											<th:block th:each="skill : ${skills}">
												<div class="form-check form-check-inline">
													<input class="form-check-input" type="checkbox"
														th:id="${skill.id}" th:field="*{selectedSkills}"
														th:value="${skill.id}"> <label
														class="form-check-label" th:for="${skill.id}"
														th:text="${skill.name}"></label>
												</div>
											</th:block>
										</div>
									</div>


								</div>

								<div class="form-row">
									<div class="form-group col-md">
										<button type="submit" class="btn btn-primary btn-block">Create
											New Internship</button>
									</div>
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<footer th:include="fragments/general :: footer"> </footer>
</body>
</html>