<!DOCTYPE html>
<html>
<head th:include="fragments/general :: head(title='Company Dashboard')"></head>
<body>

	<th:block
		th:replace="fragments/general :: dashboard-navbar(brand='Company Dashboard', role='company')">

	</th:block>


	<div class="container">
		<div class="row">
			<ol class="breadcrumb mt-3 bg-transparent">
				<li class="breadcrumb-item" style="font-size: 20px"><a
					th:href="@{/dashboard/company/internship}">Internships</a></li>
				<li class="breadcrumb-item" style="font-size: 20px">Candidates</li>
			</ol>
		</div>

		<div class="card-columns mt-auto" style="display: inline-block;">
			<th:block th:each="studentStatus : ${studentsStatuses}">
				<div class="card">
					<div class="card-body">
						<h4 class="card-title" th:text="${studentStatus.internshipStudent.student.name}"></h4>
						<h5 th:text="${studentStatus.internshipStudent.student.name}"></h5>

						<p th:text="'Enrollment - '+ ${studentStatus.internshipStudent.student.enrollmentCode}"></p>

						<p th:text="'Born Date - '+ ${studentStatus.internshipStudent.student.bornDate}"></p>

						<p th:text="'Resume - '+ ${studentStatus.internshipStudent.student?.resume}"></p>
						
						<p th:text="'Status - ' + ${studentStatus.status}"></p>
								
					</div>
				</div>
			</th:block>
		</div>
	</div>

	<footer th:include="fragments/general :: footer"> </footer>
</body>
</html>