<!DOCTYPE html>
<html>
<head th:include="fragments/general :: head(title='Student Dashboard')"></head>
<body>
	
	<th:block th:replace="fragments/general :: dashboard-navbar(brand='Student Dashboard', role='student')"></th:block>

	<div class="container">
		<div class="card-columns mt-4" style="display: inline-block;">
			<th:block th:each="internship : ${internships}">
				<div class="card">
					<div class="card-body">
						<h4 class="card-title" th:text="${internship.title}"></h4>
						<h5 th:text="${internship.company.name}"></h5>

						<p th:text="'Description - '+ ${internship.description}"></p>

						<p th:text="'Allowance - '+ ${internship.allowance}"></p>

						<p th:text="'Submit Deadline - '+ ${internship.deadline}"></p>

						<form action="#"
							th:action="@{/student-dashboard/apply-internship}" method="post">
							<input type="hidden" name="internshipId"
								th:value="${internship.id}" method="post"> <input
								type="submit" class="btn btn-primary" value="Apply">
						</form>
					</div>
				</div>
			</th:block>
		</div>
	</div>

	<footer th:include="fragments/general :: footer"> </footer>

</body>
</html>