<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head th:include="fragments/header :: head(title='login')">

<meta name="viewport" content="width=device-width, initial-scale=1">

</head>

<body>
	<div class="container">
		<div class="col-md-4 col-md-offset-4">
			<div class="row">

				<div class="login-panel panel panel-default">
					<div class="panel-heading">
						<h3 class="panel-title">Faça Login</h3>
					</div>
					<div class="panel-body">
						<form role="form" th:action=@{/login} method="post">
							<fieldset>
								<div class="form-group">
									<input class="form-control" placeholder="E-mail" name="email"
										type="email" autofocus>
								</div>
								<div class="form-group">
									<input class="form-control" placeholder="Password"
										name="password" type="password" value="">
								</div>
								<div class="form-group">
									<input name="remember" type="checkbox" value="Remember Me">
									<label for="remember">Lembrar-me</label>
								</div>
								<input type="submit" class="btn btn-lg btn-success btn-block"
									value="Login">
							</fieldset>
						</form>
					</div>
				</div>
			</div>
			<div class="row" th:if="${param.error}">
				<div th:replace="fragments/header :: alert (type='danger', message='Email ou senha incorretos')">...</div>
			</div>
			<div class="row" th:if="${param.logout}">
				<div th:replace="fragments/header :: alert (type='warning', message='Você deslogou' )">...</div>
			</div>
		</div>
	</div>
</body>
</html>