<html>

<head th:include="fragments/general :: head(title='registration')"></head>


<body>

	<div class="container">

		<div class="row justify-content-center">
			<div class="col-md-10">
				<div class="registration-form card">
					<div class="card-body">
						<h3 class="card-title">Student Registration</h3>
						<div class="card-text">

							<form autocomplete="off" action="#"
								th:action="@{/registration-student}" th:object="${student}"
								method="post" class="form" role="form">
								<div class="form-row">
									<div class="form-group col-md-4">
										<label for="name-input">Name</label> <input type="text"
											th:field="*{name}" placeholder="Name" class="form-control"
											id="name-input"
											th:classappend="${#fields.hasErrors('name')} ? is-invalid"
											required /> <label th:if="${#fields.hasErrors('name')}"
											th:errors="*{name}" class="invalid-feedback"></label>
									</div>
									<div class="form-group col-md-4">

										<label for="email-input">Email</label>
										<div class="input-group">

											<div class="input-group-prepend">
												<span class="input-group-text" id="inputGroupPrepend">@</span>
											</div>
											<input type="text" th:field="*{email}" placeholder="Email"
												id="email-input" class="form-control"
												aria-describedby="inputGroupPrepend"
												th:classappend="${#fields.hasErrors('email')} ? is-invalid"
												required /> <label th:if="${#fields.hasErrors('email')}"
												th:errors="*{email}" class="invalid-feedback"></label>
										</div>
									</div>
									<div class="form-group col-md-4">
										<label for="password-input">Password</label> <input
											type="password" th:field="*{password}" id="password-input"
											placeholder="Password" class="form-control"
											th:classappend="${#fields.hasErrors('password')} ? is-invalid"
											required /> <label th:if="${#fields.hasErrors('password')}"
											th:errors="*{password}" class="invalid-feedback"></label>
									</div>
								</div>
								<div class="form-row">
									<div class="form-group col-md-5">
										<label for="address-input">Address</label> <input type="text"
											th:field="*{address}" placeholder="Address"
											id="address-input" class="form-control"
											th:classappend="${#fields.hasErrors('address')} ? is-invalid"
											required /> <label th:if="${#fields.hasErrors('address')}"
											th:errors="*{address}" class="invalid-feedback"></label>
									</div>
									<div class="form-group col-md-4">
										<label for="complement-input">Complement</label> <input
											type="text" th:field="*{complement}" id="complement-input"
											placeholder="Complement" class="form-control"
											th:classappend="${#fields.hasErrors('complement')} ? is-invalid"
											required /> <label
											th:if="${#fields.hasErrors('complement')}"
											th:errors="*{complement}" class="invalid-feedback"></label>
									</div>
									<div class="form-group col-md-3">
										<label for="city-input">City</label> <select
											class="form-control" th:field="*{cityId}" id="city-input"
											placeholder="City">
											<option th:each="city : ${cities}" th:value="${city.id}"
												th:text="${city.name}"></option>
										</select>
									</div>

								</div>
								<div class="form-row">
									<div class="form-group col-md-4">
										<label for="enrollmentCode-input">Enrollmentcode</label> <input
											class="form-control" type="text" placeholder="Enrollcode"
											th:field="*{enrollmentCode}" id="enrollmentCode-input"
											th:classappend="${#fields.hasErrors('enrollmentCode')} ? is-invalid"
											required><label
											th:if="${#fields.hasErrors('enrollmentCode')}"
											th:errors="*{enrollmentCode}" class="invalid-feedback"></label>
									</div>
									<div class="form-group col-md-3">
										<label for="bornDate-input">Born Date</label> <input
											class="form-control" type="date" placeholder="born Date"
											th:field="*{bornDate}" id="bornDate-input"
											th:classappend="${#fields.hasErrors('bornDate')} ? is-invalid"
											required> <label
											th:if="${#fields.hasErrors('bornDate')}"
											th:errors="*{bornDate}" class="invalid-feedback"></label>
									</div>
								</div>

								<div class="form-row">
									<div class="form-group col-md">
										<label for="resume-input">Resume</label>
										<textarea class="form-control" type="textarea"
											placeholder="Resume" th:field="*{resume}" id="resume-input"
											th:classappend="${#fields.hasErrors('resume')} ? is-invalid"
											required></textarea>
										<label th:if="${#fields.hasErrors('resume')}"
											th:errors="*{resume}" class="invalid-feedback"></label>
									</div>
								</div>

								<div class="form-row">
									<div class="form-group col-md">
										<div class="row">
											<div class="col-sm-6">
												<div class="card">
													<div class="card-body">
														<h4 class="card-title">Foreign Languages</h4>
														<p>Put your language level from 1 to 5</p>
														<th:block th:each="foreignLanguage : ${foreignLanguages}">
															<div class="form-row">
																<div class="form-group col-md">
																	<div class="row">
																		<div class="col-md-8">

																			<select class="form-control">
																				<option
																					th:each="foreignLanguage : ${foreignLanguages}"
																					th:value="${foreignLanguage.id}"
																					th:text="${foreignLanguage.name}"></option>
																			</select>
																		</div>
																		<div class="col-md-3">
																			<input type="number" class="form-control" min="0"
																				max="5" placeholder="0"></input>
																		</div>
																	</div>
																</div>
															</div>
														</th:block>
													</div>
												</div>
											</div>
											<div class="col-md-6">
												<div class="card">
													<div class="card-body">
														<h4 class="card-title">Skills</h4>
														<p>Put your skill level from 0 to 5</p>
														<th:block th:each="skill : ${skills}">
															<div class="form-row">
																<div class="form-group col-md">
																	<div class="row">
																		<div class="col-md-8">
																			<select class="form-control">
																				<option th:each="skill : ${skills}"
																					th:value="${skill.id}" th:text="${skill.name}"></option>
																			</select>
																		</div>
																		<div class="col-md-3">
																			<input type="number" class="form-control" min="0"
																				max="5" placeholder="0"></input>
																		</div>
																	</div>
																</div>
															</div>
														</th:block>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>

								<div class="form-row">
									<div class="form-group col-md">
										<div class="row">
											<div class="col-md">
												<div class="card">
													<div class="card-body">
														<h4 class="card-title">Main Experience</h4>
														<div class="form-row">
															<div class="form-group col-md">
																<div class="row">
																	<div class="col-md-6">
																		<label for="experience-title-input">Title</label> <input
																			type="text" class="form-control"
																			name="experience-title-input" placeholder="Title">
																	</div>
																	<div class="col-md-3">
																		<label for="experience-start-date-input">Start Date</label>
																		<input class="form-control" type="date"
																			name="experience-start-date-input">
																	</div>
																	<div class="col-md-3">
																		<label for="experience-end-date-input">End Date</label> <input
																			class="form-control" type="date"
																			name="experience-end-date-input">
																	</div>
																</div>
															</div>
														</div>

														<div class="form-row">
															<div class="form-group col-md">
																<label for="experience-description-input">Description</label>
																<textarea class="form-control" type="textarea"
																	placeholder="Experience description"
																	id="experience-description-input"></textarea>
															</div>
														</div>

													</div>
												</div>
											</div>
										</div>

										<div class="form-row">
											<div class="form-group col-md">
												<button type="submit" class="btn btn-primary btn-block">Register
													Student</button>
											</div>
										</div>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<footer th:include="fragments/general :: footer"> </footer>
</body>

</html>