.login-card {
    margin-top: 40%;
}

.registration-form {
	margin-top: 5%;
    margin-bottom: 5%;
}

.registration-select {
	margin-top: 25%;
}

.form-horizontal .control-label {
    display: inline-block;
    vertical-align: middle;
    float: none;
}

}
.form-horizontal .controls {
    display: inline-block;
    margin-left: 20px;
}